<%- include('include/_header') %>

<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/">
          <i class="fas fa-angle-double-left"></i>
          Lista Livros
        </a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">Editar Livros</h2>
      <span class="text-light">
        Use o formulário abaixo para atualizar os livros
      </span>
    </div>

    <form method="POST" id="atualizar_livro">
      <div class="novo_livro">
        <div class="form-group">
          <label for="titulo" class="text-light">Titulo</label>
          <input type="hidden" name="id" value="<%= livro._id %>" />
          <input
            type="text"
            name="titulo"
            required
            value="<%= livro.titulo %>"
            placeholder="Digite o titulo"
          />
        </div>

        <div class="form-group">
          <label for="resumo" class="text-light">Resumo</label>
          <input
            type="text"
            name="resumo"
            value="<%= livro.resumo %>"
            placeholder="Digite o resumo"
          />
        </div>

        <div class="form-group">
          <label for="editora" class="text-light">Editora</label>
          <input
            type="text"
            name="editora"
            value="<%= livro.editora%>"
            placeholder="Digite a editora"
          />
        </div>

        <div class="form-group">
          <label for="autores" class="text-light">Autores</label>
          <input
            type="text"
            name="autores"
            value="<%= livro.autores%>"
            placeholder="Digite os Autores"
          />
        </div>

        <div class="form-group">
          <button type="submit" class="btn text-dark update">Salvar</button>
        </div>
      </div>
    </form>
  </div>
</main>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
